.button {
  background-color: $blue;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 300;
  font-size: $font-size-large;
  padding: $s-size;
  width: 18rem;
}

.add--button {
  line-height: 1;
  text-decoration: none;
}

.button--link {
  background: none;
}

.google--button {
  background-color: $google;
}

.button--secondary {
  background-color: #888;
}
